body {
    padding: -20px;
    margin: 0px;
}

div.nav-wrapper {
    padding-left: 20px;
}

body {
    background-color: #d5e9e8;
}


.header_top_background {
    background-color: aquamarine;
    height: 30px,
}

.modal-content {
    font-size: 16px; /* General font size */
}

/* Override font size for headings within the modal */
.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6 {
    font-size: 20px; /* Larger font size for headings */
}

/* Override font size for paragraphs within the modal */
.modal-content p {
    font-size: 14px; /* Smaller font size for paragraphs */
}

.modal {
    border-radius: 15px;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    border: 5px solid rgb(116, 230, 177);
}

.profile-header {
    background: #fbfdff;
    /* Match the background color */
    padding: 30px 40px 30px 40px;
    margin: 20px;
    text-align: center;
    /* Center the text and elements */
    border-radius: 20px;
    border: 5px solid white;
}

.section{
    border-radius: 20px;
    border: 5px solid white;
}

.container .s12 {
    margin-top: 10px;
}

.profile-picture img {
   border: 2px solid white;
}

.profile-info {
    padding-top: 20px;
}

.profile-info h4 {
    margin: 0;
    font-size: 2rem;
}

.profile-info p {
    margin: 5px 0 15px;
    font-size: 1.2rem;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.header_text {
    text-align: left;
}

.personal-summary {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.text-container {
    padding-left: 5px;
}

.container {
    width:95%
}

.section-content {
    height: fit-content;
    background-color: #fffdfd;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;
}

.modal-edit-icon {
    color: #f0f0f0;
    font-size: 1.25rem;
}