{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Edit Project</h4>
            <form action="{{ url_for('edit_project', project_id=project._id) }}" method="POST">
                <div class="input-field">
                    <input id="project_name" name="project_name" type="text" value="{{ project.project_name }}"
                        required>
                    <label for="project_name" class="active">Project Name</label>
                </div>
                <div class="input-field">
                    <textarea id="description" name="description" class="materialize-textarea"
                        required>{{ project.description }}</textarea>
                    <label for="description" class="active">Description</label>
                </div>
                <div class="input-field">
                    <input id="project_url" name="project_url" type="text" value="{{ project.project_url }}" required>
                    <label for="project_url" class="active">Project URL</label>
                </div>
                <div class="row center-align">
                    <button type="submit" class="btn waves-effect waves-light">Submit</button>
                    <a href="{{ url_for('profile', user_id=session['user_id']) }}"
                        class="btn waves-effect waves-light red">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}