{% extends "base.html" %} {% block content %}
<main>
  <div class="profile-header z-depth-2 teal lighten-4">
    <div class="row s12"></div>
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s3 profile-picture">
          <img src="{{ profile_data.profile_info.profile_image }}" alt="" class="circle responsive-img" />
          <div class="social-icons">
            <a href="{{ profile_data.profile_info.linkedin_url }}"><i class="fab fa-linkedin hoverable"></i></a>
            <a href="{{ profile_data.profile_info.github_url }}"><i class="fab fa-github hoverable"></i></a>
          </div>
        </div>
        <div class="col s9 right header_text">
          <div class="profile-info left-align">
            {% if profile_data.is_owner %}
            <a href="#profile_info_modal" class="modal-trigger tooltipped right" data-position="top"
              data-tooltip="Edit info">
              <i class="fas fa-edit modal-edit-icon right"></i>
            </a>
            {% endif %}
            <h4>{{ profile_data.user.first_name.title() }} {{ profile_data.user.last_name.title() }}</h4>
            <p>{{ profile_data.profile_info.tagline }}</p>
          </div>
          <div class="personal-summary">
            <div class="text-container">
              <h6>Overview:</h6>
              <p>{{ profile_data.profile_info.profile_headline }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container">
    <div class="employment_history z-depth-2 teal lighten-4 container col s12 m6 section padding-right">
      <h6>
        Experience<a href="" class="modal-trigger"><i class="fas fa-edit right"></i></a> <a href=""
          class="modal-trigger"><i class="fas fa-plus right"></i></a>
      </h6>
      <p>Work and education history</p>
      <div class="section-content">
        <table>
          <thead>
            <tr>
              <th>Organisation</th>
              <th>Position</th>
              <th>Dates</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="portfolio z-depth-2 teal lighten-4 container col s12 m5 offset-m1 section">
      <h6>
        Portfolio
        <!-- Edit Icon, initially disabled -->
        <a href="" id="editIcon" class="disabled"><i class="fas fa-edit right"></i></a>
        <!-- Plus Icon, changes to bin when an item is selected -->
        <a href="" id="actionIcon" class="modal-trigger"><i class="fas fa-plus right"></i></a>
      </h6>
      <!-- Example selectable item -->
      <div class="row selectable-item" data-selected="false">
        <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more selectable items as needed -->
    </div>
  </div>
  <div class="row container">

    <div class="hobbies z-depth-2 teal lighten-4 container col s12 m6 section padding-right">
      <h6>
        Hobbies And Interests <a href=""><i class="fas fa-edit right"></i></a>
      </h6>
      <p>Work and education history</p>
    </div>
    <div class="hobbies z-depth-2 teal lighten-4 container col s12 m5 offset-m1 section">
      <h6>
        Hobbies And Interests<a href=""><i class="fas fa-edit right"></i></a>
      </h6>
      <p>Work and education history</p>
    </div>
  </div>
  </div>
  <div class="row container">
    <div class="hobbies z-depth-2 teal lighten-4 container col s12 m6 section">
      <h6>
        Key Tools<a href=""><i class="fas fa-edit right"></i></a>
      </h6>
      <p>Programming tools/languages</p>
    </div>
  </div>
</main>


<!-- MODALS -->

<!-- Edit Profile Modal -->
<div id="profile_info_modal" class="modal">
  <div class="modal-content center-align">
    <h4>Edit Profile</h4>
    <form action="{{ url_for('update_profile') }}" method="POST">
      <div class="row center align">
        <div class="input-field col s5 offset-m1">
          <input id="first_name" name="first_name" type="text" value="{{ profile_data.profile_info.first_name or '' }}"
            required />
          <label for=" first_name">First Name</label>
        </div>
        <div class="input-field col s5 ">
          <input id="last_name" name="last_name" type="text" value="{{ profile_data.profile_info.last_name or '' }}"
            required />
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row center-align">
        <div class="input-field col s5 offset-m1">
          <input id="profile_image" name="profile_image" type="text"
            value="{{ profile_data.profile_info.profile_image or '' }}" required />
          <label for=" profile_image">Photo URL</label>
        </div>

        <div class="input-field col s5">
          <input id="tagline" name="tagline" type="text" value="{{ profile_data.profile_info.tagline or '' }}"
            required />
          <label for="tagline">tagline</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5 offset-m1">
          <input id="github_url" name="github_url" type="text" value="{{ profile_data.profile_info.github_url or '' }}"
            required />
          <label for="github_url">github url</label>
        </div>
        <div class="input-field col s5 ">
          <input id="linkedin_url" name="linkedin_url" type="text"
            value="{{ profile_data.profile_info.linkedin_url or '' }}" required />
          <label for="linkedin_url">linkedin url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-m1">
          <textarea id="profile_headline" name="profile_headline" class="materialize-textarea" required
            maxlength="250">{{ profile_data.profile_info.profile_headline or '' }}</textarea>
          <label for="profile_headline">Profile Headline</label>
          <span id="profile_headline-counter">0/250</span>
        </div>
      </div>
  </div>
  <div class="row center-align">
    <button class="btn waves-effect waves-light" type="submit">
      Edit Profile
    </button>
    <button class="btn waves-effect waves-light" type="button" id="cancelBtn">
      Cancel
    </button>
  </div>
  </form>
</div>
</div>

<!-- add experience modal-->


{% endblock %}